version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker
      - run: npm install
      - run: 
          name: install aws
          command: |
            curl "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip"
            unzip awscli-bundle.zip
            sudo ./awscli-bundle/install -i /usr/local/aws -b /usr/local/bin/aws
      - run:
          name: "Log in to AWS ECR"
          command: eval $(aws ecr get-login --no-include-email --region us-west-1)
      - run:
          name: "Build & Push Docker Image"
          command: |
            docker build -t ankr_ecr .
            docker tag ankr_ecr:latest 815280425737.dkr.ecr.us-west-1.amazonaws.com/ankr_ecr:latest
            docker push 815280425737.dkr.ecr.us-west-1.amazonaws.com/ankr_ecr:latest

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
