version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers
    working_directory: ~/
    steps:
      - checkout
      - run: npm install
      - run: npm start
  test:
    docker:
      - image: circleci/node:8-browsers
    working_directory: ~/
    steps:
      - checkout
      - run: npm install
      - run: npm start
      - run: curl -i localhost:8080
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
